<component name="ArtifactManager">
  <artifact type="war" name="SpringHessianService:war">
    <output-path>$PROJECT_DIR$/SpringHessianService/target</output-path>
    <root id="archive" name="SpringHessianService.war">
      <element id="artifact" artifact-name="SpringHessianService:war exploded" />
    </root>
  </artifact>
</component>